*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background: url("images/desktop/image-header.jpg")no-repeat center center/cover;
    width: 100%;
    height: 80vh;
}
.logo{
    margin: 15px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
}
.down{
   position: relative;
   top: 170px;
   left: 50%;
}

nav ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    margin-top: 20px;
    font-size: 11px;
}
nav ul li a{
    text-decoration: none;
    margin: 20px;
    color: white;
    font-family: 'Barlow', sans-serif;
}
nav ul li a:hover:not(.nav-bar){
    background-color: rgba(255, 243, 243, 0.67);
    border-radius: 2px;
}
.creatives{
    letter-spacing: 10px;
    color: white;
    font-family: 'Fraunces', serif;
    position: relative;
    top: 100px;
    left: 40%;
    font-weight: 900;
}
.first{
    display: flex;
    position: relative;
}
.side{
    position: relative;
    top: 100px;
    height: 300px;
    width: 50%;
    left: 40px;
}
.trans{
    position: relative;
    font-size: 39px;
    bottom: 30px;
    font-family: 'Fraunces', serif;
}
.full{
    font-family: 'Barlow', sans-serif;
    color: gray;
    font-size: 11px;
    width: 80%;
}
.learn{
    position: relative;
    top: 20px;
    font-size: 11px;
    font-family: 'Fraunces', serif;
}
.learn:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: hsl(51, 100%, 49%);
}
.egg{
    height: 300px;
    width: 50%;
}
.second{
    display: flex;
    position: relative;
}
.cup{
    height: 300px;
    width: 50%;
}
.side2{
    position: relative;
    top: 100px;
    height: 300px;
    width: 50%;
    left: 40px;
}
.all{
    position: relative;
    font-size: 30px;
    bottom: 30px;
    font-family: 'Fraunces', serif;
}
.using{
    font-family: 'Barlow', sans-serif;
    color: gray;
    font-size: 11px;
    width: 80%;
}
.learn2{
    position: relative;
    top: 20px;
    font-size: 11px;
    font-family: 'Fraunces', serif;
}
.learn2:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: hsl(7, 99%, 70%);
}
.third{
    display: flex;
    position: relative;
}
.graphic{
    background: url(images/mobile/image-graphic-design.jpg)no-repeat center center/cover;
    width: 100%;
    height: 500px;
}
.photo{
    background: url(images/mobile/image-photography.jpg)no-repeat center center/cover;
    width: 100%;
    height: 500px;
}
.design{
    font-family: 'Fraunces', serif;
    color: hsl(167, 40%, 24%);
    position: relative;
    top: 320px;
    left: 30%;
    font-weight: 900;
    font-size: 18px;
}
.great{
    font-family:'Barlow', sans-serif;
    color: hsl(167, 40%, 24%);
    position: relative;
    top: 350px;
    width: 80%;
    left: 10%;
    text-align: center;
    font-size: 11px;
}
.photog{
    font-family: 'Fraunces', serif;
    color: hsl(198, 62%, 26%);
    position: relative;
    top: 320px;
    left: 40%;
    font-weight: 900;
    font-size: 18px;
}
.increase{
    color: hsl(198, 62%, 26%);
    font-family:'Barlow', sans-serif;
    position: relative;
    top: 350px;
    width: 80%;
    left: 10%;
    text-align: center;
    font-size: 11px;
}
.test{
    letter-spacing: 20px;
    color: gray;
    font-family:'Fraunces', serif ;
    position: relative;
    top: 100px;
    left: 25%;
}
.gallery{
    position: relative;
    top: 200px;
    left: 40px;
    display: flex;
    justify-content: space-around;
    height: 500px;
}
.pics{
    height: 80px;
    border-radius: 50px;
    position: relative;
    left: 70px;
}
.trust{
    font-family: 'Barlow', sans-serif;
    color: hsl(232, 10%, 55%);
    font-size: 11px;
    position: relative;
    top: 10px;
    justify-content: center;
    text-align: center;
    width: 300px;
}
.emi{
    color: hsl(212, 27%, 19%);
    font-family:'Fraunces', serif ;
    position: relative;
    justify-content: center;
    text-align: center;
    top: 30px;
}
.director{
    color: hsl(210, 6%, 50%);
    font-family: 'Barlow', sans-serif;
    position: relative;
    text-align: center;
    top: 30px;
}
.imgs{
    height: 220px;
    width: 100%;
}
.images{
    display: flex;
    width: 100%;
}
footer{
    background-color: hsl(167, 78%, 67%);
    height: 400px;
    width: 100%;
}
.logof{
    position: relative;
    top: 50px;
    left: 50% ;
}
footer ul{
    display: flex;
    list-style-type: none;
}
footer a{
    color: hsl(168, 32%, 27%);
    position: relative;
    top: 100px;
    justify-content: center;
    margin: 30px;
    left: 750px;
    font-size: 18px;
}
footer a:hover{
    color: rgb(255, 251, 251);
}
footer ul li a{
    text-decoration: none;
}
.social{
   position: relative;
   left: 50%;
   top: 170px;
}
i{
    font-size: 20px;
    margin-left: 10px;
}
i:hover{
    color: white;
}
.checkbtn{
    font-size: 40px;
    line-height: 50px;
    margin-left: 90px;
    color: white;
    float: right;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* MEDIA QUERIES */
@media (min-width: 641px) and (max-width:1440px) {
    body{
        width: 100%;
    }
}
@media (max-width: 640px) {
    
    body{
        width: 100%;
    }
    .logo{
        margin-left: 30px;
        width: 10vh;
        height: 20px;
    }
    header {
        background: url("images/desktop/image-header.jpg")no-repeat center center/cover;
        width: 100%;
        height: 50vh;
    }
    nav ul{
        margin-right: 20px;
        flex-direction: column;
        justify-content: space-between; 
        position: fixed;  
        width: 100%;
        height: 40vh;
        background: rgb(78, 78, 93);
        margin-top: 50px ;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        line-height: 30px;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .checkbtn{
       font-size: 30px;
       color: white;
       display: block;
       line-height: 30px;
       float: right;
       margin-right: 30px;
       cursor: pointer;
    }
    .creatives{
        font-size: 18px;
        width: 30vh;
        top: 30px;
        justify-content: center;
        text-align: center;
        left: 20%;
    }
    .down{
        left: 45%;
        top: 30px;
    }
    .first{
        flex-direction: column-reverse;
    }
    .side{
        font-size: 20px;
        width: 100%;
    }
    .egg{
        width: 100%;
    }
    .second{
        flex-direction: column;
    }
    .cup{
        width: 100%;
    }
    .side2{
        font-size: 18px;
        width: 100%;
    }
    .third{
        flex-direction: column;
    }
    .test{
        top: 50px;
        font-size: 11px;
        left: 30%;
        letter-spacing: 7px;
        justify-content: center;
        align-items: center;
    }
    .gallery{
        flex-direction: column;
        top: 30px;
        bottom: 50px;
        height: 800px;
        justify-content: space-evenly;
        left: 10%;

    }
    .pics{
        height: 50px;
        justify-content: center;
        left: 35%;
    }
    .trust{
        font-size: 15px;
        justify-content: center;
        left: 20px;
    }
    .emi{
        align-items: center;
        right: 10%;
    }
    .director{
        align-items: center;
        right: 10%;
    }
    .images{
        flex-direction: column; 
    }
    .logof{
        justify-content: center;
        width: 30vh;
        left: 70px;
    }
    footer a{
        justify-content: space-around;
        font-size: 20px;
        align-items: start;
        left: 10px;
    }
   .bottom{
    display: flex;
    flex-direction: row;
   }
   footer ul{
    display: flex;
    list-style-type: none;
    margin: 20px;
    justify-content: space-between;
   }
   footer ul li a{
    text-decoration: none;
   }
   .social{
    display: flex;
    justify-content: center;
    align-items: start;
    left: 30px;
   }
   .facebook{
    position: relative;
}
.instagram{
    position: relative;
    left: 30px;
}
.twitter{
    position: relative;
    left: 60px;   
}
.pinterest{
    position: relative;
    left: 90px;
}
  }